h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'PT Sans', sans-serif; }

div,
span,
p,
li,
a {
  font-weight: 300;
  font-size: 16px; }

div,
span,
p,
li {
  color: #333;
  font-family: 'Museo Sans Cyrl', sans-serif; }

a {
  color: #EF5480; }

a,
a:hover,
a:active,
a:focus {
  text-decoration: none; }

input {
  outline: none; }

::-moz-selection {
  background: rgba(105, 169, 61, 0.3);
  text-shadow: none; }

::selection {
  background: rgba(105, 169, 61, 0.3);
  text-shadow: none; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

* {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%; }

.main-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

/* ____________________________________Header____________________________________ */
header {
  padding: 20px 0;
  background: #fff; }
  header .phone {
    font-family: 'PT Sans', sans-serif;
    line-height: 24px;
    margin-bottom: 0; }
    header .phone img {
      width: 16px;
      height: 16px;
      margin-right: 10px; }

/* ____________________________________Top-Nav___________________________________ */
.top-nav {
  background: #69a93d; }
  .top-nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0;
    padding-left: 0; }
  .top-nav .current-menu-item:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #EF5480 transparent transparent transparent;
    position: absolute;
    margin-left: -10px;
    left: 50%;
    z-index: 10; }
  .top-nav .current-menu-item a {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 4px solid transparent;
    background: #5d9636;
    border-color: #EF5480; }
  .top-nav li {
    list-style: none;
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
    position: relative; }
    .top-nav li ul {
      display: none;
      position: absolute;
      top: 72px;
      left: 0;
      text-align: left;
      z-index: 15; }
      .top-nav li ul li {
        white-space: nowrap;
        position: relative;
        width: 100%;
        text-align: left; }
        .top-nav li ul li a {
          padding: 20px 20px;
          background: #69a93d; }
          .top-nav li ul li a:hover {
            border-bottom: none;
            padding-bottom: 24px;
            border-left: 4px solid #EF5480;
            padding-left: 16px; }
    .top-nav li:hover ul {
      display: block; }
    .top-nav li:hover:after {
      display: block; }
    .top-nav li a {
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top: 25px;
      padding-bottom: 21px;
      color: #fff;
      border-bottom: 4px solid transparent;
      text-transform: uppercase;
      font-weight: 500; }
      .top-nav li a:hover {
        background: #5d9636;
        border-color: #EF5480; }

/* ____________________________________SC-1______________________________________ */
.sc-1 {
  z-index: 5;
  position: relative; }
  .sc-1 .slide_bg {
    height: 60vh;
    background-position: center center;
    background-size: cover;
    position: relative; }
  .sc-1 .wrapper {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAM2NjbGjMhiIIEjR46chQvCBECKwILIAmBBdAGQIADeTRDt7xfZzAAAAABJRU5ErkJggg==") repeat, rgba(51, 51, 51, 0.05);
    height: 100%;
    width: 100%; }
  .sc-1 .flex {
    text-align: center; }
  .sc-1 h2 {
    font-size: 80px;
    color: #69a93d;
    text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.5); }
  .sc-1 p {
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 10px 20px; }
  .sc-1 .more {
    background: #69a93d;
    color: #fff;
    padding: 7px 15px;
    margin-top: 15px;
    display: inline-block;
    -webkit-transition: .1s;
    transition: .1s;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700; }
    .sc-1 .more:hover {
      background: #EF5480; }
  .sc-1 .owl-nav {
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: 0;
    right: 0; }
    .sc-1 .owl-nav .owl-prev {
      position: absolute;
      left: 15px;
      background: rgba(255, 255, 255, 0.4);
      padding: 10px 18px 13px;
      color: #333;
      font-size: 32px;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
      .sc-1 .owl-nav .owl-prev:hover {
        background: rgba(51, 51, 51, 0.6);
        color: #fff; }
    .sc-1 .owl-nav .owl-next {
      position: absolute;
      right: 15px;
      background: rgba(255, 255, 255, 0.4);
      padding: 10px 18px 13px;
      color: #333;
      font-size: 32px;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
      .sc-1 .owl-nav .owl-next:hover {
        background: rgba(51, 51, 51, 0.6);
        color: #fff; }

/* ____________________________________SC-2______________________________________ */
.sc-2 {
  background: url("../img/fasad.jpg") no-repeat;
  background-size: cover;
  background-position: center center; }
  .sc-2 .wrapper {
    background: rgba(105, 169, 61, 0.3);
    height: 100%;
    width: 100%;
    padding: 60px 0 80px;
    text-align: center; }
  .sc-2 h2 {
    font-size: 48px;
    padding-bottom: 60px;
    display: inline-block;
    position: relative;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.3); }
    .sc-2 h2:after, .sc-2 h2:before {
      content: '';
      display: block;
      position: absolute;
      top: 24px;
      width: 10px;
      height: 10px;
      background: #fff;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-box-shadow: 0 0 1px rgba(51, 51, 51, 0.5);
              box-shadow: 0 0 1px rgba(51, 51, 51, 0.5); }
    .sc-2 h2:before {
      left: -40px; }
    .sc-2 h2:after {
      right: -40px; }
  .sc-2 img {
    width: 100%;
    height: auto; }
  .sc-2 .about-us {
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 3px solid #EF5480; }
    .sc-2 .about-us p {
      text-indent: 40px;
      text-align: justify; }

/* ____________________________________SC-3______________________________________ */
.sc-3 {
  position: relative;
  margin-top: -50px;
  z-index: 10; }
  .sc-3 a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .sc-3 .col-md-4 {
    padding: 0;
    background: #fff; }
    .sc-3 .col-md-4 img {
      -webkit-transition: .2s;
      transition: .2s; }
    .sc-3 .col-md-4 .wrapper {
      padding: 20px;
      text-align: center;
      border: 1px solid rgba(105, 169, 61, 0.3); }
    .sc-3 .col-md-4:nth-child(3n+2) {
      margin-left: -1px;
      margin-right: -1px; }
    .sc-3 .col-md-4:nth-child(4), .sc-3 .col-md-4:nth-child(5), .sc-3 .col-md-4:nth-child(6) {
      margin-top: -1px;
      margin-bottom: -1px; }
    .sc-3 .col-md-4:hover {
      cursor: pointer; }
      .sc-3 .col-md-4:hover img {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2); }
  .sc-3 img {
    width: 60%;
    height: auto; }

/* ____________________________________SC-4______________________________________ */
.sc-4 {
  background: #fff;
  padding: 60px 0 80px;
  text-align: center; }
  .sc-4 h2 {
    font-size: 48px;
    padding-bottom: 60px;
    display: inline-block;
    position: relative;
    color: #333;
    text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.3); }
    .sc-4 h2:after, .sc-4 h2:before {
      content: '';
      display: block;
      position: absolute;
      top: 24px;
      width: 10px;
      height: 10px;
      background: #EF5480;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .sc-4 h2:before {
      left: -40px; }
    .sc-4 h2:after {
      right: -40px; }
  .sc-4 h2,
  .sc-4 h3 {
    text-align: center;
    margin-bottom: 20px; }
  .sc-4 img {
    width: 100%;
    height: auto; }

/* ____________________________________SC-5______________________________________ */
.sc-5 {
  padding: 60px 0 80px;
  background: rgba(105, 169, 61, 0.08);
  text-align: center; }
  .sc-5 h2 {
    font-size: 48px;
    padding-bottom: 60px;
    display: inline-block;
    position: relative;
    text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.3); }
    .sc-5 h2:after, .sc-5 h2:before {
      content: '';
      display: block;
      position: absolute;
      top: 24px;
      width: 10px;
      height: 10px;
      background: #EF5480;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .sc-5 h2:before {
      left: -40px; }
    .sc-5 h2:after {
      right: -40px; }
  .sc-5 img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: .2s;
    transition: .2s;
    opacity: .5;
    width: 100%;
    height: auto; }
  .sc-5 a:hover img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    opacity: 1; }

/* ____________________________________SC-6______________________________________ */
.sc-6 {
  background: url("../img/78.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center; }
  .sc-6 .wrapper {
    padding: 60px 0 80px;
    background: rgba(255, 255, 255, 0.7); }
  .sc-6 h2 {
    font-size: 48px;
    padding-bottom: 60px;
    display: inline-block;
    position: relative;
    color: #333;
    text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.3); }
    .sc-6 h2:after, .sc-6 h2:before {
      content: '';
      display: block;
      position: absolute;
      top: 24px;
      width: 10px;
      height: 10px;
      background: #EF5480;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .sc-6 h2:before {
      left: -40px; }
    .sc-6 h2:after {
      right: -40px; }
  .sc-6 img {
    width: 100%;
    height: auto;
    -webkit-mask: url("../img/mask.png") center/cover;
            mask: url("../img/mask.png") center/cover;
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9); }
  .sc-6 .text {
    background: rgba(105, 169, 61, 0.9);
    padding: 20px;
    border-top: 3px solid #EF5480;
    position: relative;
    color: #fff; }
    .sc-6 .text h3 {
      padding-bottom: 22.4px; }
    .sc-6 .text p {
      text-align: left;
      color: #333; }
    .sc-6 .text:before {
      display: block;
      position: absolute;
      top: -20px;
      left: 50%;
      margin-left: -20px;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 20px 20px 20px;
      border-color: transparent transparent #EF5480 transparent; }

/* ____________________________________SC-6______________________________________ */
.sc-7 {
  background: #404040; }
  .sc-7 h3, .sc-7 li, .sc-7 p, .sc-7 a {
    color: #fff; }
  .sc-7 ul {
    padding: 0; }
  .sc-7 li {
    list-style: none;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #4d4d4d;
    padding: 15px 0; }
    .sc-7 li:first-child {
      border-top: none; }
    .sc-7 li:last-child {
      border-bottom: none; }
  .sc-7 .col-md-4:nth-child(2) {
    height: 100%; }

/* ____________________________________Footer____________________________________ */
footer {
  background: #333; }
  footer p, footer a {
    color: #cccccc;
    padding: 10px 0 0; }
  footer a:hover img {
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4); }
  footer img {
    width: 23px;
    height: 23px;
    margin-top: -3px;
    -webkit-transition: .2s;
    transition: .2s; }

/* ____________________________________Index.php________________________________ */
.index-php .thumb img {
  width: 100%;
  height: auto; }

/* ____________________________________Other____________________________________ */
#toTop {
  width: 100px;
  text-align: center;
  padding: 10px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: none;
  color: #fff;
  z-index: 100;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #EF5480;
  -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.3);
          box-shadow: 0 0 10px rgba(51, 51, 51, 0.3);
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 100;
  font-size: 18px;
  opacity: .5;
  -webkit-transition: .2s;
  transition: .2s; }
  #toTop:hover {
    opacity: 1; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_100.otf);
  font-weight: 100; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_300.otf);
  font-weight: 300; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_500.otf);
  font-weight: 500; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_700.otf);
  font-weight: 700; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_900.otf);
  font-weight: 900; }

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/PT_Sans-Web-Bold.ttf);
  font-weight: 700; }

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/PT_Sans-Web-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RobotoCondensed-Light.ttf);
  font-weight: 300; }

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/RobotoCondensed-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/RobotoCondensed-Bold.ttf);
  font-weight: 700; }

@font-face {
  font-family: 'Russo One';
  src: url(../fonts/Russo-One.ttf);
  font-weight: 700; }
