h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'PT Sans', sans-serif; }

div,
span,
p,
li,
a {
  font-weight: 300;
  font-size: 16px; }

div,
span,
p,
li {
  color: #333;
  font-family: 'Museo Sans Cyrl', sans-serif; }

a {
  color: #EF5480; }

a,
a:hover,
a:active,
a:focus {
  text-decoration: none; }

input {
  outline: none; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

/* ____________________________________Header____________________________________ */
header {
  padding: 20px 0;
  background: #fff; }

/* ____________________________________Top-Nav___________________________________ */
.top-nav {
  background: #1DA4E2; }
  .top-nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0;
    padding-left: 0; }
  .top-nav .current-menu-item:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #EF5480 transparent transparent transparent;
    position: absolute;
    margin-left: -10px;
    left: 50%;
    z-index: 10; }
  .top-nav .current-menu-item a {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 4px solid transparent;
    background: #1a94cb;
    border-color: #EF5480; }
  .top-nav li {
    list-style: none;
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center; }
    .top-nav li:hover:after {
      display: block; }
    .top-nav li a {
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top: 25px;
      padding-bottom: 21px;
      color: #fff;
      border-bottom: 4px solid transparent;
      text-transform: uppercase;
      font-weight: 500; }
      .top-nav li a:hover {
        background: #1a94cb;
        border-color: #EF5480; }

/* ____________________________________SC-1______________________________________ */
.sc-1 {
  z-index: 5;
  position: relative; }
  .sc-1 .slide_bg {
    height: 60vh;
    background-position: center center;
    background-size: cover;
    position: relative; }
  .sc-1 .wrapper {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAM2NjbGjMhiIIEjR46chQvCBECKwILIAmBBdAGQIADeTRDt7xfZzAAAAABJRU5ErkJggg==") repeat, rgba(51, 51, 51, 0.05);
    height: 100%;
    width: 100%; }
  .sc-1 .flex {
    text-align: center; }
  .sc-1 h2 {
    font-size: 80px;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(51, 51, 51, 0.5); }
  .sc-1 .more {
    background: #1DA4E2;
    color: #fff;
    padding: 7px 15px;
    margin-top: 15px;
    display: inline-block;
    -webkit-transition: .1s;
    transition: .1s; }
    .sc-1 .more:hover {
      background: #EF5480; }
  .sc-1 .owl-nav {
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: 0;
    right: 0; }
    .sc-1 .owl-nav .owl-prev {
      position: absolute;
      left: 15px;
      background: rgba(255, 255, 255, 0.4);
      padding: 10px 18px 13px;
      color: #333;
      font-size: 32px;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
      .sc-1 .owl-nav .owl-prev:hover {
        background: rgba(51, 51, 51, 0.6);
        color: #fff; }
    .sc-1 .owl-nav .owl-next {
      position: absolute;
      right: 15px;
      background: rgba(255, 255, 255, 0.4);
      padding: 10px 18px 13px;
      color: #333;
      font-size: 32px;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
      .sc-1 .owl-nav .owl-next:hover {
        background: rgba(51, 51, 51, 0.6);
        color: #fff; }

/* ____________________________________SC-2______________________________________ */
.sc-2 h2 {
  text-align: center;
  margin-bottom: 20px; }

.sc-2 img {
  width: 100%;
  height: auto; }

.sc-2 .about-us {
  padding: 20px;
  border: 15px solid rgba(123, 199, 72, 0.2); }
  .sc-2 .about-us p {
    text-indent: 40px;
    text-align: justify; }

/* ____________________________________SC-3______________________________________ */
.sc-3 {
  position: relative;
  margin-top: -50px;
  z-index: 10; }
  .sc-3 .col-md-4 {
    padding: 0;
    background: #fff; }
    .sc-3 .col-md-4 img {
      -webkit-transition: .2s;
      transition: .2s; }
    .sc-3 .col-md-4 .wrapper {
      padding: 20px;
      text-align: center;
      border: 1px solid rgba(29, 164, 226, 0.3); }
    .sc-3 .col-md-4:nth-child(3n+2) {
      margin-left: -1px;
      margin-right: -1px; }
    .sc-3 .col-md-4:nth-child(4), .sc-3 .col-md-4:nth-child(5), .sc-3 .col-md-4:nth-child(6) {
      margin-top: -1px;
      margin-bottom: -1px; }
    .sc-3 .col-md-4:hover {
      cursor: pointer; }
      .sc-3 .col-md-4:hover img {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2); }
  .sc-3 img {
    width: 60%;
    height: auto; }

/* ____________________________________SC-4______________________________________ */
.sc-4 {
  background: #dee; }
  .sc-4 h2,
  .sc-4 h3 {
    text-align: center;
    margin-bottom: 20px; }
  .sc-4 img {
    width: 100%;
    height: auto; }

/* ____________________________________SC-5______________________________________ */
/* ____________________________________SC-6______________________________________ */
/* ____________________________________Footer____________________________________ */
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_100.otf);
  font-weight: 100; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_300.otf);
  font-weight: 300; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_500.otf);
  font-weight: 500; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_700.otf);
  font-weight: 700; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_900.otf);
  font-weight: 900; }

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/PT_Sans-Web-Bold.ttf);
  font-weight: 700; }

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/PT_Sans-Web-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RobotoCondensed-Light.ttf);
  font-weight: 300; }

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/RobotoCondensed-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/RobotoCondensed-Bold.ttf);
  font-weight: 700; }

@font-face {
  font-family: 'Russo One';
  src: url(../fonts/Russo-One.ttf);
  font-weight: 700; }
