$main-color: #69a93d;
//$main-color: #006DA7;
//$main-color: #77be2e;
$second-color: #006DA7;
$accent-color: #EF5480;

$white: #fff;
$black: #333;

$size: 16px;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	font-family: 'PT Sans', sans-serif;
}

div,
span,
p,
li,
a {
	font-weight: 300;
	font-size: $size;
}

div,
span,
p,
li {
	color: $black;
	font-family: 'Museo Sans Cyrl', sans-serif;
}

li {
	list-style-image: url("../img/checked.png");
}

a {
	color: $accent-color;
}

a,
a:hover,
a:active,
a:focus {
	text-decoration: none;
}

input {
	outline: none;
}

::selection {
	background: rgba($main-color, .3);
	text-shadow: none;
}

.flex {
	display: flex;
	align-items: center;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
.main-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

img.alignleft {
	float: left;
	margin: 20px;
	margin-left: 0;
}

img.alignright {
	float: right;
	margin: 20px;
	margin-right: 0;
}

img.aligncenter {
    display: block;
    margin: 20px auto;
}

img.alignnone {
    display: block;
    margin: 20px;
}

blockquote {
	border-color: $accent-color;
	background: darken($white, 5%);
	p {
		color: darken($black, 50%);
	}
}

/* ____________________________________Header____________________________________ */

header {
	padding: 20px 0;
	background: $white;
	.phone {
		font-family: 'PT Sans', sans-serif;
		line-height: $size * 1.5;
		margin-bottom: 0;
		img {
			width: $size;
			height: $size;
			margin-right: 10px;
		}
	}
	.callback,
	.tender {
		text-align: center;
		background: darken($white, 5%);
		padding: 7px 10px;
		color: lighten($black, 20%);
		position: relative;
		border-bottom: 3px solid $accent-color;
		transition: .2s;
		a {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
		&:hover {
			background: $main-color;
			color: $white;
			cursor: pointer;
		}
	}
}

/* ____________________________________Headhesive________________________________ */

.headhesive {
	position: fixed;
	transform: translatey(100px);
	z-index: 50;
	transition: .2s;
	bottom: 0;
	left: 50%;
	margin-left: -170px;
	.callback,
	.tender {
		text-align: center;
		background: $main-color;
		padding: 7px 10px;
		color: $white;
		position: relative;
		border-bottom: 4px solid $accent-color;
		transition: .2s;
		a {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
		&:hover {
			background: darken($main-color, 15%);
			color: $white;
			cursor: pointer;
		}
	}
}

.headhesive--stick {
	transform: translatey(0);
}

/* ____________________________________Top-Nav___________________________________ */

.top-nav {
	background: $main-color;
	ul {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0;
		padding-left: 0;
	}
	.current-menu-item,
	.current-post-parent {
		&:after {
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 10px 0 10px;
			border-color: $accent-color transparent transparent transparent;
			position: absolute;
			margin-left: -10px;
			left: 50%;
			z-index: 10;
		}	
		a {
			display: block;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-bottom: 4px solid transparent;
			background: darken($main-color, 5%);
			border-color: $accent-color;
		}		
	}
	li {
		list-style: none;
		display: inline-block;
		position: relative;
		width: 100%;
		text-align: center;
		position: relative;
		ul {
			display: none;
			position: absolute;
			top: 72px;
			left: 0;
			text-align: left;
			z-index: 15;
			li {
				white-space: nowrap;
				position: relative;
				width: 100%;
				text-align: left;
				a {
					padding: 20px 20px;
					background: $main-color;
					&:hover {
						border-bottom: none;
						padding-bottom: 24px;
						border-left: 4px solid $accent-color;
						padding-left: 16px;
					}
				}
			}
		}
		&:hover {
			ul {
				display: block;
			}
			&:after {
				display: block;
			}
		}
		a {
			display: block;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			padding-top: 25px;
			padding-bottom: 21px;
			color: $white;
			border-bottom: 4px solid transparent;
			text-transform: uppercase;
			font-weight: 500;
			&:hover {
				background: darken($main-color, 5%);
				border-color: $accent-color;
			}
		}
	}
}

/* ____________________________________SC-1______________________________________ */

.sc-1 {
	z-index: 5;
	position: relative;
	.slide_bg {
		height: 60vh;
		background-position: center center;
		background-size: cover;
		position: relative;
	}
	.wrapper {
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAM2NjbGjMhiIIEjR46chQvCBECKwILIAmBBdAGQIADeTRDt7xfZzAAAAABJRU5ErkJggg==") repeat,
						rgba($black, .05);
		height: 100%;
		width: 100%;
	}
	.flex {
		text-align: center;
	}
	h2 {
		font-size: $size * 5;
		color: $main-color;
		text-shadow: 1px 1px 1px rgba($black, .5);
	}
	p {
		background: rgba($white, .8);
		display: inline-block;
		padding: 10px 20px;
	}
	.more {
		background: $main-color;
		color: $white;
		padding: 7px 15px;
		margin-top: 15px;
		display: inline-block;
		transition: .1s;
		text-transform: uppercase;
		font-family: 'PT Sans', sans-serif;
		font-weight: 700;
		&:hover {
			background: $accent-color;
		}
	}
	.owl-nav {
		position: absolute;
		top: 50%;
		margin-top: -45px;
		left: 0;
		right: 0;
		.owl-prev {
			position: absolute;
			left: 15px;
			background: rgba($white, .4);
			padding: 10px 18px 13px;
			color: $black;
			font-size: $size * 2;
			border-radius: 50%;
			&:hover {
				background: rgba($black, .6);
				color: $white;
			}
		}
		.owl-next {
			position: absolute;
			right: 15px;
			background: rgba($white, .4);
			padding: 10px 18px 13px;
			color: $black;
			font-size: $size * 2;
			border-radius: 50%;
			&:hover {
				background: rgba($black, .6);
				color: $white;
			}
		}
	}
}

/* ____________________________________SC-2______________________________________ */

.sc-2 {
	background: url("../img/fasad.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	.wrapper {
		background: rgba($main-color, .3);
		height: 100%;
		width: 100%;
		padding: 60px 0 80px;
		text-align: center;
	}
	h2 {
		font-size: $size * 3;
		padding-bottom: 60px;
		display: inline-block;
		position: relative;
		color: $white;
		text-shadow: 1px 1px 1px rgba($black, .3);
		&:after,
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: ($size * 3) / 2;
			width: 10px;
			height: 10px;
			background: $white;
			transform: rotate(45deg);
			box-shadow: 0 0 1px rgba($black, .5);
		}
		&:before {
			left: -40px;
		}
		&:after {
			right: -40px;
		}
	}
	img {
		width: 100%;
		height: auto;
	}
	.about-us {
		padding: 20px;
		background: rgba($white, .9);
		border-bottom: 3px solid $accent-color;
		//border: 15px solid rgba($second-color, .2);
		p {
			text-indent: 40px;
			text-align: justify;
		}
	}
}

/* ____________________________________SC-3______________________________________ */

.sc-3 {
	position: relative;
	margin-top: -50px;
	z-index: 10;
	a {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	.col-md-4 {
		padding: 0;
		background: $white;

		img {
			transition: .2s;
		}

		.wrapper {
			padding: 20px;
			text-align: center;
			border: 1px solid rgba($main-color, .3);
			overflow: hidden;
		}
		&:nth-child(3n+2) {
			margin-left: -1px;
			margin-right: -1px;
		}

		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(6) {
			margin-top: -1px;
			margin-bottom: -1px;
		}

		&:hover {
			cursor: pointer;
			img {
				transform: scale(1.2);
			}
		}
	}
	img {
		width: 60%;
		height: auto;
	}
}

body.category-uslugi {
	.sc-3 {
		margin-top: 0;
	}
	h1 {
		text-align: center;
	}
}

/* ____________________________________SC-4______________________________________ */

.sc-4 {
	background: $white;
	padding: 60px 0 80px;
	text-align: center;
	h2 {
		font-size: $size * 3;
		padding-bottom: 60px;
		display: inline-block;
		position: relative;
		color: $black;
		text-shadow: 1px 1px 1px rgba($black, .3);
		&:after,
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: ($size * 3) / 2;
			width: 10px;
			height: 10px;
			background: $accent-color;
			transform: rotate(45deg);
		}
		&:before {
			left: -40px;
		}
		&:after {
			right: -40px;
		}
	}
	h2,
	h3 {
		text-align: center;
		margin-bottom: 20px;
	}
	img {
		width: 100%;
		height: auto;
	}
}

/* ____________________________________SC-5______________________________________ */

.sc-5 {
	padding: 60px 0 80px;
	background: rgba($main-color, .08);
	text-align: center;
	h2 {
		font-size: $size * 3;
		padding-bottom: 60px;
		display: inline-block;
		position: relative;
		text-shadow: 1px 1px 1px rgba($black, .3);
		&:after,
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: ($size * 3) / 2;
			width: 10px;
			height: 10px;
			background: $accent-color;
			transform: rotate(45deg);
		}
		&:before {
			left: -40px;
		}
		&:after {
			right: -40px;
		}
	}
	img {
		filter: grayscale(100%);
		transition: .2s;
		opacity: .5;
		width: 100%;
		height: auto;
	}
	a {
		&:hover {
			img {
				filter: grayscale(0);
				opacity: 1;
			}
		}
	}
}

/* ____________________________________SC-6______________________________________ */

.sc-6 {
	background: url("../img/78.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
	.wrapper {
		padding: 60px 0 80px;
		background: rgba(#fff, .7);
	}
	h2 {
		font-size: $size * 3;
		padding-bottom: 60px;
		display: inline-block;
		position: relative;
		color: $black;
		text-shadow: 1px 1px 1px rgba($black, .3);
		&:after,
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: ($size * 3) / 2;
			width: 10px;
			height: 10px;
			background: $accent-color;
			transform: rotate(45deg);
		}
		&:before {
			left: -40px;
		}
		&:after {
			right: -40px;
		}
	}
	img {
		width: 100%;
		height: auto;
		mask: url("../img/mask.png") center/cover;
		transform: scale(.9);
	}
	.text{
		background: rgba($main-color, .9);
		padding: 20px;
		border-top: 3px solid $accent-color;
		position: relative;
		color: $white;
		h3 {
			padding-bottom: $size * 1.4;
		}
		p {
			text-align: left;
			color: $black;
		}
		&:before {
			display: block;
			position: absolute;
			top: -20px;
			left: 50%;
			margin-left: -20px;
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 20px 20px 20px;
			border-color: transparent transparent $accent-color transparent;
		}
	}
}

/* ____________________________________SC-6______________________________________ */

.sc-7 {
	background: lighten($black, 5%);
	h3,li,p,a {
		color: $white;
		transition: .2s;
	}
	li:hover {
		a {
			color: $accent-color;			
		}
	}
	ul {
		padding: 0;
	}
	li {
		list-style: none;
		border-bottom: 1px solid darken($black, 0%);
		border-top: 1px solid lighten($black, 10%);
		padding: 15px 0;
		&:first-child {
			border-top: none;
		}
		&:last-child {
			border-bottom: none;
		}
	}
	.col-md-4:nth-child(2) {
		height: 100%;
	}
}

/* ____________________________________Footer____________________________________ */

footer {
	background: $black;
	p,a {
		color: darken($white, 20%);
		padding: 10px 0 0;
	}
	a:hover {
		img {
			transform: scale(1.4);
		}
	}
	img {
		width: 23px;
		height: 23px;
		margin-top: -3px;
		transition: .2s;
	}
}

/* ____________________________________Other____________________________________ */

#toTop {
	width: 100px;
	text-align: center;
	padding: 10px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	display: none;
	color: $white;
	z-index: 100;
	border-radius: 3px;
	background: $accent-color;
	box-shadow: 0 0 10px rgba($black, .3);
	font-family: 'Museo Sans Cyrl', sans-serif;
	font-weight: 100;
	font-size: 18px;
	opacity: .5;
	transition: .2s;
	&:hover {
		opacity: 1;
	}
}

.relative {
	position: relative;
}

/* ____________________________________Index.php________________________________ */

.index-php {
	padding-bottom: 30px;	
	h1 {
		text-align: center;
	}
	p {
		margin-bottom: 20px;
		text-align: justify;
		text-indent: 40px;
	}
	ul {
		padding-left: 20px;
	}
		
}

.thumb {
	img {
		width: 100%;
		height: auto;
	}
}

/* ____________________________________category-news____________________________________ */

.news {
	h1 {
		text-align: center;
	}
	a.read-more {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	h2 {
		background: darken($white, 5%);
		border-left: 4px solid $accent-color;
		padding: 15px 20px 11px;
		margin-top: 0;
		transition: .2s;
	}
	.one-news {
		&:hover {
			h2 {
				color: $main-color;
			}
		}
	}
}

/* ____________________________________breadcrumbs_________________________________ */

body.home {
	.bread {
		display: none;
	}
}

.bread {
	padding: 10px 0 0;
	hr {
		margin-bottom: 0;
		margin-top: 10px;
	}
	span {
		color: lighten($black, 30%);
	}
	a {
		position: relative;
		span {
			color: lighten($black, 30%);
		}
		&:hover {
			span {
				color: $accent-color;
			}
			&:after {
				width: 100%;
			}
		}
		&:after {
			content: "";
			position: absolute;
			display: block;
			left: 0;
			bottom: -3px;
			width: 0;
			height: 1px;
			background: $accent-color;
			transition: .2s;
		}
	}
}

/* ____________________________________navigate____________________________________ */

.navigate {
	text-align: center;
	margin-bottom: 20px;
	.pages {
		border: none;
		background: darken($white, 5%);
		padding: 5px 10px;
		border-bottom: 3px solid transparent;
	}
	.current {
		border-color: transparent !important;
		border: none;
		font-weight: 300 !important;
		border-bottom: 3px solid $accent-color !important;
		background: $main-color;
		color: $white;
		padding: 5px 10px;
	}
	.page,
	.nextpostslink,
	.previouspostslink {
		color: $white;
		border: none;
		background: $main-color;
		padding: 5px 10px !important;
		border-bottom: 3px solid transparent;
		&:hover {
			border-color: $accent-color;
		}
	}
}

/* ____________________________________page-template-page-contacts_________________ */


.wpcf7-form {
	input,
	textarea,
	label {
		width: 100%;
		outline: none;
		box-shadow: none;
	}
	label {
		font-weight: 100;
	}
	input,
	textarea {
		border: 3px solid darken($white, 5%);
		box-shadow: none;
		background: darken($white, 5%);
		&:active,
		&:focus {
			border-color: $accent-color;
			background: $white;
		}
	}
	input[type="submit"] {
		border: none;
		border-bottom: 3px solid transparent;
		text-transform: uppercase;
		font-weight: 700;
		font-size: $size;
		color: $black;
		// border-bottom: 3px solid $accent-color;
		padding-top: 9px;
		transition: .2s;
		&:hover {
			background: $main-color;
			color: $white;
		}
	}
	input[type="file"] {
		border: none;
		border-bottom: 3px solid transparent;
		text-transform: uppercase;
		font-weight: 700;
		font-size: $size;
		color: $black;
		padding-top: 9px;
		transition: .2s;
	}
	textarea {
		min-height: 186px;
	}
}


textarea,
input {
	outline: none !important;
}
	

/* ____________________________________about-us-menu____________________________ */

.about-us-menu {
	padding-left: 0 !important;
	li {
		list-style: none;
		position: relative;
		a {
			display: block;
			width: 100%;
			height: 100%;
			background: darken($white, 5%);
			padding: 20px;
			border-left: 4px solid $accent-color;
			color: $black;
			&:hover {
				background: $main-color;
				color: $white;
			}
		}
	}
}

.page-template-page-about-us {
	h2 {
		margin-bottom: 27px;
	}
}

/* ____________________________________Modal____________________________________ */
.modal-dialog {
	margin: 10vh auto;
}

.modal {

	.modal-header {
		border-radius: 6px 6px 0 0;
	}
	.modall-input {
		border: 3px solid darken($white, 5%);
		box-shadow: none;
		background: darken($white, 5%);
		width: 100%;
		padding: 10px;
		text-align: center;
		transition: .2s;
		border-radius: 3px;
		&:active,
		&:focus {
			border-color: $accent-color;
			background: $white;
		}
	}	
	input[type="submit"] {
		border: none;
		color: $black;
		transition: .2s;
		&:hover {
			background: $main-color;
			color: $white;
		}
	}
}

.modal-header {
	background: $main-color;
	color: $white;
}

/* ____________________________________page-404____________________________________ */

.page-404 {
	img {
		width: 100%;
		height: auto;
	}
}

@import "_fonts";

